[Desktop Entry]
Type=Service
Name=BookOS Clima
Comment=clima/tiempo/weather <ciudad>
Icon=weather-clear
X-KDE-ServiceTypes=Plasma/Runner
X-Plasma-API=DBus
X-Plasma-DBus-Service=org.bookos.Weather
X-Plasma-DBus-Path=/bookos/Weather
X-Plasma-DBus-Interface=org.kde.krunner1
X-KDE-PluginInfo-Name=bookos-weather
X-KDE-PluginInfo-EnabledByDefault=true
